---
import TimeZone from "../../components/TimeZone.vue";
import Layout from "../../layouts/Layout.astro";

const navLinks = [
	{
		img: {
			src: '/icons/arrow-left.svg',
			alt: 'Back to Utilities',
		},
		to: '/utilities',
        name: "Utilities",
	},
	{
		img: {
			src: '/icons/home.svg',
			alt: 'Go Home',
		},
		to: '/',
        name: "Home",
	},
];
---

<Layout title="Vänner Bästa | Birthdays"  navLinks={navLinks}>
    <div class="container">
		<h1 class="title">Birthdays</h1>
		<p>
			Discord bots are changing. <br />
			This means that we can no longer provide you with the command to set
			your birthday. <br />
			Instead, this page now gives you your timezone for use with Discord
			bots.
		</p>
		<h2>
			Your timezone:
			<TimeZone client:load/>
		</h2>
	</div>
</Layout>