---
import TimeZone from "../../components/TimeZone.vue";
import Layout from "../../layouts/Layout.astro";

const navLinks = [
	{
		img: {
			src: '/icons/arrow-left.svg',
			alt: 'Back to Utilities',
		},
		to: '/utilities',
        name: "Utilities",
	},
	{
		img: {
			src: '/icons/home.svg',
			alt: 'Go Home',
		},
		to: '/',
        name: "Home",
	},
];
---

<Layout title="Vänner Bästa | Birthdays"  navLinks={navLinks}>
    <div class="container grid place-items-center">
		<div class="grid place-items-center">
			<h1 class="text-6xl font-bold underline p-4">Birthdays</h1>
			<p class="p-4">
				Discord bots are changing. <br />
				This means that we can no longer provide you with the command to set
				your birthday. <br />
				Instead, this page now gives you your timezone for use with Discord
				bots.
			</p>
			<h2 class="p-4 text-4xl">
				Your timezone:
				<TimeZone class="underline" client:load/>
			</h2>
		</div>
	</div>
</Layout>
