---
import Layout from '../layouts/Layout.astro';
import LinkCard from '../components/LinkCard.astro';
---

<Layout title="V채nner B채sta">
	<main>
		<div class="container">
		<h1 class="title">V채nner B채sta</h1>
		<p>
			A Young Royals fan website with links to different discussion
			spaces.
		</p>
		<strong>Season 2 coming out 1st November 2022</strong>
		<div class="grid-3">
			<LinkCard
				title="Watch"
				to="https://www.netflix.com/title/81210762"
			/>
			<LinkCard title="Discord" to="https://discord.gg/hyKVDeRJ8Y" />
			<LinkCard
				title="Reddit"
				to="https://www.reddit.com/r/YoungRoyals/"
			/>
			<LinkCard
				title="Babbel (ref)"
				to="https://www.talkable.com/x/IchxFl"
			/>
			<LinkCard
				title="Matrix"
				to="https://matrix.to/#/#young-royals:matrix.org"
			/>
			<LinkCard title="Discord Utilities" to="/utilities" />
		</div>
	</div>
	</main>
</Layout>