@use 'colours';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
	font-family: 'Ubuntu', sans-serif !important;
	background-color: colours.$bg-colour-light;
}

.container {
	min-height: 80vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 3rem;
}
